html,
body {
  height: 100%;
}


body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  margin-bottom: 15pt;
  font-size: 10px;
}

/* Form */

.form-signin {
  margin: 0px 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 15px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.top, .middle  {
  margin-bottom: 0px;
}

#submit-btn{
  margin: auto;
  margin-top: 30px;
  padding: 10px 30px;
  width: fit-content;
}

#hands-spock{
  color: rgb(112, 11, 170);
  font-weight: 900;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}